* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #535389;
}

.main {
  width: 320px;
  height: 620px;
  margin: 100px auto 0;
  border: 10px solid silver;
  font-size: 0;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #a2a289;
  display: inline-block;
}

.movingCell {
  background-color: #c0c490;
}

.fixedCell {
  background-color: #b3bb3b;
}